body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#form {


    align-items: center;
      
 padding: 20px; 
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    
   
   
}
#email , #password,#name {
     width: 300px;
   height: 30px;
    font-size: 16px;
    padding: 5px;   margin-bottom: 15px;
        border-radius: 5px;
    border-color: rgb(222, 225, 236);
}

#btn {
  
    width: 100%;
    height: 30px;
    background-color: #00074f;
      color: white;
   
 
    font-size: 16px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    text-align: center;

}
#admin, #User{
   
    margin-bottom: 20px;
  
}

#btn:hover {
    background-color: #000033;
}
a{
    
    color: white;

    align-items: center;


    text-decoration: none;
}
